.container-saldo{
    margin-top: 160px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 600px;
    border: solid black 1px;
    background-color: #145774;
    width: 200px;
    text-align: center;
    color:white;
}
.cash-in{
    width: 100px;
    height: 10px;
    margin-top: 12px;
    margin-bottom: 20px;
}
.button-container{
    margin-bottom: 12px;
}
.add-cancel{
    margin-right: 12px;
    border-radius: 12px;
    background-color:  #145774;
    border: 1px solid black;
}
.add-cancel:hover{
    background-color: white;
}

#saldo{
    width: 120px;
    height: 35px;
}