.Book-Container {
    align-items: center;
    text-align: center;


    background-image: linear-gradient(#155872, #114769);
    /* border: 1px solid black; */
    border-radius: 12px;
    /* margin-bottom: 22px; */
    /* margin-left: 30px; */
    color: #e0ffff;
    /* padding: 16px 8px 40px 8px; */
    /* width: 180px; */
    height: auto;
}

.Book-name{
    font-size: 76px;
    color: white;
    /* width: 70%; */
    white-space: pre-wrap;
    margin-bottom: 20px;
    font-weight: bold;
}
#money{
    color: #f2c27a;
    margin-top: 20px;
}
#autor{
    font-size: 50px;
    margin-bottom: 20px;
    color: #bfbfbf;
}
.Info-Container-BookPage{
    font-size: 33px;
    color: white;
    font-weight: bold;
}

.children {
    width: 30%;
    margin-bottom: 20px;

}

.Accept-Button{
    margin-left: 12px;
    margin-right: 12px;
    background-color: #4CAF50;
    border-radius: 2px;
}
.Cancel-Button{
    background-color: #f44336;
    border-radius: 2px;

}
#botton-wishlist {
    margin: 20px;
}
/* #botton-back {

} */
.footer{
    margin-top: 5px;
    margin-bottom: 10px;
    justify-content: center;
    width: 100%;
    /* color: white; */
    text-align: center;
}