.Book-Container {
    align-items: center;
    text-align: left;

}

.Book-name{
    font-size: 76px;
    color: white;
    width: 70%;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: bold;
}
#money{
    color: #f2c27a;
    margin-top: 20px;
}
#autor{
    font-size: 50px;
    margin-bottom: 20px;
    color: #bfbfbf;
}
.Info-Container{
    font-size: 33px;
    justify-content: left;
    width: auto;
    color: #bebebe;
}

.children {
    width: 30%;
    margin-bottom: 20px;

}

.Accept-Button{
    margin-left: 12px;
    margin-right: 12px;
    background-color: #4CAF50;
    border-radius: 2px;
}
.Cancel-Button{
    background-color: #f44336;
    border-radius: 2px;

}
#botton-wishlist {
    margin-left: 20px;
}
.footer{
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    justify-content: center;
    width: 100%;
    background-color: firebrick;
    color: white;
    text-align: center;
}