.Login-Container{
    margin-top: 200px;
    margin-left: 600px;
    width: 40%;
    justify-content: right;
    color:white;
}
.Welcome-Container{
    text-align: left;
    font-weight: bold;
    font-size: 35px;
    width: 100%;
    margin-bottom: 5px;
    margin-left: 126px;
}
.h2-info-container{
    text-align: left;
    font-size: 20px;
    margin-left: 132px;
}

.UserName-Container{
    margin-right: 20px;
    font-size: 20px;
    justify-content: left;
}
.Password-container{
    display: flex;
    text-align:center;

}
.UserNameText-Container{
    display: inline;
    background-color: #9eb1c0;
    border-radius: 10px;
    border: 1px solid #203A43;
    padding-left: 12px;
    padding-right: 12px;
    width: 260px;
    display:inline;
    justify-content: center;
    color:black;

    margin-top: 10px;
    margin-left: 130px;

}
.Flex-container{
    display: inline;
}

.Button-Container{
    display: flex;
    justify-content: center;
}
.LogInButton{
    margin-right: 52px;
    margin-top: 40px;
    background-color:#2975a6;
    color:white;
    border: 1px solid #000000;
    border-radius: 10px;
}
.LogInButton:hover{
    color:#ffffff;
    background-color: #37b97b;
}

.registerButton{
    margin-right: 12px;
    margin-top: 39px;
    background-color:#2975a6;
    color:white;
    border: 1px solid #000000;
    border-radius: 10px;
}

.registerButton:hover{
    color: #ffffff;
    background-color: #127bca;
}
.Error-Container{
    margin-top: 20px;
    margin-left: 120px;
    font-size: 20px;
    color: red;
}

.Validation-Error{
    background: #FFBABA;
    position: fixed;
    font-weight: bold;
    color: #D8000C;
    margin-left: 10px;
    border-radius: .3em;
    border-left-style: solid;
}

.Error {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: #D8000C;
    background: #FFBABA;
    margin-left: -3px;
    border-radius: .3em;
}