ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#white{
    color:white;
}

.navigation-container{
    background-color: #071b57;
    height: 60px;
    padding-top: 20px;
}

.home-container{
    color:white;
    margin-left: 10px;
    padding: 8px 8px 8px 8px;
}

.quien-container{
    color:white;
    margin-left: 10px;
    padding: 8px 8px 8px 8px;
}

.contacto-conteiner{
    color:white;
    margin-left: 10px;
    padding: 8px 8px 8px 8px;
}

.perfil-container{
    color:white;
    margin-left: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 4px 4px 4px 4px;
}
