.Register-Container{
    margin-top: 200px;
    margin-left: 600px;
    align-items: center;
}

.Info-Container{
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    margin-left: 130px;
    font-weight: bold;
}

.data-container{
    margin-left: 130px;
}

.Generic-Input{
    background-color: #9eb1c0;
    color: #6c585a;
    padding-left: 4px;
    padding-right: 4px;
    border: 1px solid white;
    border-radius: 8px;
    display: inline;
    margin-bottom: 12px;
}
.a{
    display: inline;
}

.Button-container{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;

}
.birth{
    color:white;
}

.SendButton-container{
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    color: white;
    background-color: #2975a6;
    width: 80px;
    height: 30px;
}

.CancelButton-container{
    margin-top: 20px;
    margin-right: 340px;
    border: 1px solid #000000;
    border-radius: 5px;
    color: white;
    background-color: #2975a6;
    width: 80px;
    height: 30px;
}

.Validation-Error{
    background: #FFBABA;
    position: fixed;
    font-weight: bold;
    color: #D8000C;
    margin-left: 10px;
    border-radius: .3em;
    border-left-style: solid;
}

.Error {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: #D8000C;
    background: #FFBABA;
    margin-left: -3px;
    border-radius: .3em;
}