.user-container{
    margin-top: 120px;
    margin-left: 270px;
    color: #255072;
    border-radius: 20px;
    border: 1px solid #127bca;
    width: 920px;
    background-image: linear-gradient(#808080, #ffffff);
}
.titles-values {
    display: inline;
    margin: 0 1em 0 1em;
    width: 30%;

    overflow: hidden;
}

.child{
    float: left;
    width: 180px;
    height: 50px;
}
.user-name{
    margin-left: 12px;
    font-size: 30px;
    text-align: left;
}

.info-container{
    margin-top: 40px;
    text-align: center;
    overflow: hidden;
}

.button-carro-back{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    background-color: white;
    border: 1px solid #255072;
    border-radius: 8px;
    color:#255072;
}
#espacio{
    margin-left: 300px;
}
.button-saldo-log{
    margin-left: 10px;
    background-color: #255072;
    color:white;
    border-radius: 8px;
}
.button-saldo-log:hover{
    background-color: white;
    color:#255072;
    border-radius: 8px;
    border: 1px solid #255072
}
.button-carro-back:hover{
    background-color: #255072;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
}